.anuncio{
  background-color: #14279B;
}
.anuncio p {
  text-align: center;
  color: white;
}

.titulo{
  background-color: #3D56B2;
  height: 6rem;
  text-align: center;
}
.titulo h1{
  text-align: center; 
}


.homeHeading {
  text-align: center;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.productCard {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  width: 20em;
  border-radius: 20px;
  background-color: white;
  border: #aaa 2px solid;
  text-decoration: none;
  color: black;
  transition: all 1s;
  box-shadow: 0 15px 50px rgba(0,0,0,0.3);
  text-align: center;
}

.productCard > img {
  width: 14vmax;
  margin: auto;
}

.productCard div {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax;
}

.productCard > p {
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
  
}

.productCard > span {
  margin: 0.5vmax;
  color: #228B22;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}
.productPrice{
  color: #228B22;
}

.productCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 50px rgba(0,0,0,0.7);
}

@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}
